@mixin for-size($size) {
  @if $size == xs {
    @media (min-width: 576px) { @content; }
  } @else if $size == sm {
    @media (min-width: 768px) { @content; }
  } @else if $size == md {
    @media (min-width: 992px) { @content; }
  } @else if $size == lg {
    @media (min-width: 1200px) { @content; }
  } @else if $size == elg {
    @media (min-width: 1800px) { @content; }
  }
}

@import "../plugins/accordion/accordion";


@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.eot?#iefix) format('embedded-opentype'), 
      url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face('BebasNeueCyrillic', '../fonts/BebasNeueCyrillic', normal, 'normal');



*{
font-family: 'BebasNeueCyrillic'; 
}
